@import "../../styles/base/variables.scss";

.btn {
    padding: 10px 15px;
    border-radius: 10px;
    border:none;
    font-size: 20px;
    font-weight: 900;
}

.primario{
    background-color: $primario;
}

.secundario{
    background-color: $secundario;
}

.secundarioText{
    color: $secundario;
}

.blanco {
    color: $blanco;
}

.blancoBg {
    background-color: $blanco;
}
