@import '../../styles/base/variables.scss';

.title {
    font-size: 65px;
    font-family: $secundaria;
    padding: 40px 0;
}

.secondTitle {
    font-family: $fuente_principal;
    font-size: 80px;
    line-height: 110px;
    margin: 10px 0 16px 0;
}

.colorPrimario{
    color: $primario;
}

.colorSecundario{
    color: $secundario;
}

.colorTerciario{
    color: $terciario;
}

.colorBlanco{
    color: $blanco;
}